{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
  <div class="media-body">
    <h3 class="campus-nome">Campus {{ campus.nome }}</h2>
  </div>
  <div>
  </div>
  <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_campus', campus_id=campus.id) }}">Editar</a>
        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Deletar</button>
  </div>
</article>

<article class="media content-section">
  <div class="media-body">
        <p><b>Número de edifícios: </b>{{ campus.num_edificios }}</p>
        <p><b>Área total construída: </b>{{ campus.area_total_construida }} m2</p>
        <p><b>Área útil construída: </b>{{ campus.area_util_construida }} m2</p>
  </div>
</article>

<p><b>Lista de edifícios do campus (clique no edifício para mais informações):</b></p>
<article class="media content-section">
    <div class="media-body">
    {% for edificio in edificios %}
      <p><a class="article-title" href="{{url_for('edificio', edificio_id=edificio.id)}}">{{ edificio.nome }}</a></p>
    {% endfor %}
  </div>
</article>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Deletar Campus? Os edifícios contidos nele também serão apagados.</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
          <form action="{{ url_for('deletar_campus', campus_id=campus.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Deletar">
          </form>
        </div>
      </div>
    </div>
</div>

{% endblock content %}